<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>aaa</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>aaa</string>
	<key>NSCameraUsageDescription</key>
	<string>aaa</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>aaa</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
